<mat-toolbar color="primary" class="header-toolbar">
  <button mat-button class="nav-button" (click)="navigateToSomePage()">Qosyl</button>
  <span class="spacer"></span>

  <!-- Navigation Links -->
  <nav class="nav-links">
    <a mat-button routerLink="/publications">Publications</a>
    <a mat-button routerLink="/users">Users / Organizations</a>
    <a mat-button routerLink="/products">Products</a>
    <a mat-button routerLink="/profile">Profile</a>
    <button mat-button class="logout-button" (click)="logout()">Logout</button>
  </nav>
</mat-toolbar>
