<div class="publications-container">
    <div *ngFor="let publication of publications" class="publication-card">
      <img *ngIf="publication.image" [src]="publication.image" alt="{{ publication.title }}" class="publication-image" />
      <div class="publication-info">
        <h2 [routerLink]="[publication.id]">{{ publication.title }}</h2>
        <p class="publication-topic">{{ publication.topic }}</p>
        <div class="publication-footer">
          <p class="posted-by">Posted by: {{ publication.organization.name }}</p> <!-- Updated to show organization -->
          <p class="likes">Likes: {{ publication.likes.length }}</p>
          <button class="like-button" (click)="likPublication(publication.id)">Like</button>
        </div>
      </div>
    </div>

    <div *ngIf="publications.length === 0" class="no-publications">
      <p>No publications available at the moment.</p>
    </div>
  </div>
