

    <h1>{{ publication.title }}</h1>
    <p>By {{ publication.organization.name }} on {{ publication.created_at }}</p>
    <img src="{{publication.image}}" alt="{{ publication.title }}" width="300px" height="300px" class="publication-image" />
    <div class="publication-info">
      <p>{{publication.topic}}</p>
      <p class="likes">Likes: {{ publication.likes.length }}</p>
          <div class="publication-footer">
        <button class="like-button" (click)="likePublication(publication.id)">Like</button>
          </div>
    </div>


<hr>
<ul>


<div *ngFor="let comment of comments">
    <p>{{ comment.content }}</p>
    <small>{{comment.author}}</small>
    <small>{{ comment.created_at }}</small>
  <div *ngIf="comment.content == '' ">
  <p>No comments yet. Be first to comment!</p></div>
</div>
</ul>
<!--{%  if user.is_authenticated  and user.username == post.author.username %}-->
<!--<a href = "{% url 'post_edit' post.pk %}"><button type="button"> Edit post</button></a>-->
<!--<form method="POST" action="{% url 'post_delete' post.pk %}">-->
<!--  {% csrf_token %}-->
<!--  <button type="submit">Delete post</button>-->
<!--</form>-->
<!--{% endif %}-->
<!--<h3>Add a comment</h3>-->
<!--{%  if user.is_authenticated %}-->
<!--<form method="post">-->
<!--  {%  csrf_token %}-->
<!--  {{ comment_form.as_p }}-->
<!--  <button type="submit" >Submit comment</button>-->

<!--</form>-->
<!--{%  else    %}-->
<!--<p>You must login to comment</p>-->
<!--{% endif %}-->
<!--</div>-->
