.not-found-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .not-found-container h1 {
    font-size: 48px;
    color: #ff5252;
  }
  
  .not-found-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .not-found-container a {
    text-decoration: none;
    color: #3897f0;
  }
  